@use "variables";
body{
    background-color: aquamarine;
    padding: variables.$reset_padding;
    margin: variables.$reset_margin;
}

ul{
    list-style: none;
}   
a{
    text-decoration: none;
    color: black;
}