* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-size: 36px;
    font-weight: 800;
}

.general {
    display: flex;
}

.nav {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: rgba(61, 155, 23, 0.5);
    width: 20vw;
}

.header {
    background-color: rgb(79, 93, 219);
    display: flex;
    height: 20vh;
    width: 80vw;
}

.famaly {
    display: flex;
    height: 60vh;
}
.art {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40vw;
    background-color: rgb(202, 33, 160);
}
.aside {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: rgb(17, 141, 141);
  width: 40vw;
  height: 80vh;
}

.footer {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 20vh;
    width: 60vw;
    background-color: rgb(30, 165, 30);
}