h1 {
  text-align: center;
}
.container {
  width: 400px;
  height: 170px;
  border: 1px solid black;
  border-radius: 10px;

  padding: 20px;
  display: flex;
  gap: 20px;
}
.photo-contact {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.desc {
  text-align: justify;
}
.name-contact {
  text-align: center;
}
.section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1 1 33%;
}

@media screen and (max-width: 1000px) {
  .section {
    gap: 40px;
  }

  .container {
    width: 370px;
  }
  @media screen and (max-width: 860px) {
  }
}
