*{
    margin: 0;
}
.box-realative {
    width: 150px;
    height: 150px;
    background-color: aqua;
    
    position: relative;
    right: 100px;
    bottom: 100px;
}
.box {
    width: 150px;
  height: 150px;
  background-color: blueviolet;
  
  position: relative;
  z-index: 0;
}

.parent {
  position: absolute;
  width: 450px;
  height: 450px;
  border: 2px solid black;
  bottom: 150px;
  right: 100px;
}
body{
    height: 2000px;
}
.box-fixed{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 83, 112);

    top: 0px;
    left: 100px;
    position: fixed;
    z-index: 10000;

}

.box-sticky{
    background-color: greenyellow;
    height: 50px;
    position: sticky;
    top: 0px;
}
.box2{
    height: 2000px;
}
.box-sticky2{
    height: 50px;
    background-color: rgb(75, 75, 173);
    position:sticky;
    top: 50px;

}