/* body{
    margin-top: 1px;


} */


/* r=radius
cx=circle :x
cy=circle y */
/* 
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */


form{
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    background-color: antiquewhite;
}